@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@300;400;500;600;700&family=Rubik:wght@300;400;500;600;700&family=Karla:wght@300;400;500;600;700&family=Space+Mono:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .content-1 {
    @apply text-slate-950;
  }

  .content-2 {
    @apply text-slate-800;
  }

  .content-3 {
    @apply text-slate-600;
  }

  .content-4 {
    @apply text-slate-100;
  }

  .content-highlight {
    @apply text-emerald-700;
  }

  .bg-1 {
    @apply bg-emerald-50 text-slate-950;
  }

  .bg-2 {
    @apply bg-emerald-100 text-slate-950;
  }

  .bg-accent-1 {
    @apply bg-green-600 text-slate-50;
  }

  .bg-accent-2 {
    @apply bg-slate-800 text-slate-50;
  }

  .center {
    @apply flex flex-col items-center justify-center;
  }

  .btn {
    @apply px-4 py-2 rounded-full shadow hover:shadow-xl cursor-pointer duration-300 text-center text-lg;
  }

  .primary-btn {
    @apply btn accent1 border-2 border-green-600 content-4;
  }

  .secondary-btn {
    @apply btn border-2 border-green-600 content-1;
  }

  .section-header {
    @apply uppercase tracking-[0.25rem] text-lg font-rubik;
  }
}

.font-space-mono {
  font-family: "Space Mono", monospace;
}

.font-rubik {
  font-family: "Rubik", sans-serif;
}

.font-bangla {
  font-family: "Noto Serif Bengali", serif;
}

.font-karla {
  font-family: "Karla", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--content-3);
  opacity: 0.5;
  border-radius: 3px;
}
